
.wrapper {
    display:flex;
    justify-content:space-between;
    flex:auto;
}

#boutons {
    min-height:100%;
    display:flex;
    justify-content:center;    
}

#Execute, #Save, #Cancel, #Delete {
    margin:10px;
}

/*#boutons {
    display:flex;
    justify-content: center;    
}
.but {
    margin:5px;
}
#QueryList li {

}*/

