        /* FOOTER STYLE Don't forget to add body { padding-bottom: 70px; } or otherwise the page content may be covered. */
        body {
            padding-bottom: 70px;
        }

        .navbar-fixed-bottom {
            background-color:darkgray;
        }

        .navbar-fixed-bottom > p {            
            margin:10px;                        
        }
