<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    
      <client>
        <endpoint name="Canal1" address="http://192.168.1.182:1234/Service1" binding="basicHttpBinding" contract="WCF.IService1">        
          
        </endpoint>
        <endpoint name="Canal2" address="http://192.168.1.182:1234/Repository" binding="basicHttpBinding" contract="WCF.IRepository">        
          </endpoint>
      </client>
    

  </system.serviceModel>
  
</configuration>