@model IEnumerable<WebScraper.WCF.QueryContract>

@{
    ViewBag.Title = "Gestion des requêtes";
}
@section css{
    <link href="~/Content/Gerer.css" rel="stylesheet" />
}

<div class="jumbotron text-center">
    <h1>Gestion de vos requêtes</h1>
</div>
<hr />

<div class="wrapper">

    <div class="container col-lg-3">
        <fieldset id="field1">
            <legend>Liste des requêtes</legend>
            <div id="QueryList" class="list-group">


                @foreach (var item in Model)
                {
                    <a class="list-group-item query" name="query" id="@item.Id">@item.Name</a>
                }

            </div>
            <button class="btn btn-primary" id="addQuery">+</button>
        </fieldset>
    </div>


    <div class="container col-lg-3">
        <fieldset>
            <legend>Liste des URLs associées</legend>
            <div id="UrlList" class="list-group">
            </div>
            <button class="btn btn-primary" id="addURL">+</button>
        </fieldset>
    </div>

    <div class="container col-lg-3">
        <fieldset>
            <legend>Liste des selecteurs associés</legend>
            <div id="SelectorsList" class="list-group">
            </div>
            <button class="btn btn-primary" id="addSelector">+</button>
        </fieldset>
    </div>

    <div class="container col-lg-3">
        <fieldset>
            <legend>Aperçu des données</legend>
            <div id="Data">

            </div>
        </fieldset>
    </div>
</div>


<div id="boutons" class="container col-lg-12">
    <button class="btn btn-primary" id="Execute">Exécuter</button> @*TODO Secondaire*@
    <button class="btn btn-primary" id="Save">Enregistrer les modifications</button>
    <button class="btn btn-primary" id="Result">Voir les résultats</button>
    @*<button class="btn btn-primary" id="Cancel">Annuler</button>*@
</div>

@section scripts {
    <script src="~/Scripts/Gerer.js"></script>
    <script src="~/Scripts/Gerer-Ajax.js"></script>
}