@*@model IEnumerable<WebScraper.WCF.SelectorContract>*@
@model IEnumerable<WebScraper.WCF.ResultsDetailContract>

<table style="margin:5px; stroke:black">
    <tr>
    <th>Clef</th>
    <th>Valeur</th>
    </tr>
     
    @for (int i = 0; i < 20; i++)
    {
        var item = Model.ToList()[i];
        <tr>
            <td>@item.CLEF</td>
            <td>@item.Value</td>
        </tr>
    }
</table>
