@{
    ViewBag.Title = "Home Page";
}


@*TODO > A REMPLIR AVEC NOS INFOS*@

<div class="jumbotron">
    <h1>Projet WebScraper</h1>
    <p class="lead">Le projet WebScraper est un projet innovant, original et techniquement intéressant.</p>
    <p><a href="~/addNewQuery/manageQueries.cshtml" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Qui sommes nous ?</h2>
        <p>
            Nous sommes Amin et Jonathan, tous deux stagiaires d'une session de formation DotNet proposée par GT'M Ingenierie et Pôle Emploi.
        </p>
        <p><a class="btn btn-default" href="~/Home/Contact">Nous contacter &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nos parcours</h2>
        <p>Jonathan, ancien Biologiste, débute dans l'informatique. Amin suite à des études d'informatique dispose de solides connaissances.</p>
        <p><a class="btn btn-default" href="~/Home/About">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notre projet</h2>
        <p>Nous avons conçu un WebScraper, un robot qui fouille internet et récupère des données. Nous proposons deux services permettant d'accéder aux résultats du "scraping", stockés dans une base de données.</p>
        <p><a class="btn btn-default" href="~/addNewQuery/manageQueries">Notre prototype &raquo;</a></p>
    </div>
</div>
  